In [13]:
import pandas as pd
import numpy as np

import os

def load_hotel_reserve():
  customer_tb = pd.read_csv('../awesomebook-master/data/customer.csv')
  hotel_tb = pd.read_csv('../awesomebook-master/data/hotel.csv')
  reserve_tb = pd.read_csv('../awesomebook-master/data/reserve.csv')
  return customer_tb, hotel_tb, reserve_tb


def load_holiday_mst():
  holiday_tb = pd.read_csv('../awesomebook-master/data/holiday_mst.csv',
                           index_col=False)
  return holiday_tb


def load_production():
  production_tb = pd.read_csv('../awesomebook-master/data/production.csv')
  return production_tb


def load_production_missing_num():
  production_tb = pd.read_csv('../awesomebook-master/data/production_missing_num.csv')
  return production_tb


def load_production_missing_category():
  production_tb = pd.read_csv('../awesomebook-master/data/production_missing_category.csv')
  return production_tb


def load_monthly_index():
  monthly_index_tb = \
    pd.read_csv('../awesomebook-master/data/monthly_index.csv')
  return monthly_index_tb


def load_meros_txt():
  with open('../awesomebook-master/data/txt/meros.txt', 'r') as f:
    meros = f.read()
    f.close()
  return meros

In [14]:
customer_tb, hotel_tb, reserve_tb = load_hotel_reserve()

In [ ]:
pd.to_datetime(reserve_tb['reserve_datetime'], format='%Y-%m-%d %H:%M:%S')
pd.to_datetime(reserve_tb['checkin_date'] + reserve_tb['checkin_time'],
               format='%Y-%m-%d%H:%M:%S')

pd.to_datetime(reserve_tb['reserve_datetime'],
               format='%Y-%m-%d %H:%M:%S').dt.date
pd.to_datetime(reserve_tb['checkin_date'], format='%Y-%m-%d').dt.date

0       2016-03-26
1       2016-07-20
2       2016-10-19
3       2017-03-29
4       2017-09-22
           ...
4025    2017-07-10
4026    2017-10-09
4027    2018-04-02
4028    2016-05-10
4029    2016-07-06
Name: checkin_date, Length: 4030, dtype: object

In [ ]:
reserve_tb['reserve_datetime'] = \
  pd.to_datetime(reserve_tb['reserve_datetime'], format='%Y-%m-%d %H:%M:%S')

reserve_tb['reserve_datetime'].dt.year

reserve_tb['reserve_datetime'].dt.month

reserve_tb['reserve_datetime'].dt.day

reserve_tb['reserve_datetime'].dt.dayofweek

reserve_tb['reserve_datetime'].dt.hour

reserve_tb['reserve_datetime'].dt.minute

reserve_tb['reserve_datetime'].dt.second

reserve_tb['reserve_datetime'].dt.strftime('%Y-%m-%d %H:%M:%S')

print(reserve_tb)

     reserve_id hotel_id customer_id    reserve_datetime checkin_date  \
0            r1     h_75         c_1 2016-03-06 13:09:42   2016-03-26
1            r2    h_219         c_1 2016-07-16 23:39:55   2016-07-20
2            r3    h_179         c_1 2016-09-24 10:03:17   2016-10-19
3            r4    h_214         c_1 2017-03-08 03:20:10   2017-03-29
4            r5     h_16         c_1 2017-09-05 19:50:37   2017-09-22
...         ...      ...         ...                 ...          ...
4025      r4026    h_129       c_999 2017-06-27 23:00:02   2017-07-10
4026      r4027     h_97       c_999 2017-09-29 05:24:57   2017-10-09
4027      r4028     h_27       c_999 2018-03-14 05:01:45   2018-04-02
4028      r4029     h_48      c_1000 2016-04-16 15:20:17   2016-05-10
4029      r4030    h_117      c_1000 2016-06-06 08:16:51   2016-07-06

     checkin_time checkout_date  people_num  total_price
0        10:00:00    2016-03-29           4        97200
1        11:30:00    2016-07-21           2        20600
2        09:00:00    2016-10-22           2        33600
3        11:00:00    2017-03-30           4       194400
4        10:30:00    2017-09-23           3        68100
...           ...           ...         ...          ...
4025     09:30:00    2017-07-11           2        16000
4026     10:30:00    2017-10-10           2        41800
4027     11:30:00    2018-04-04           2        74800
4028     09:30:00    2016-05-13           4       540000
4029     09:00:00    2016-07-09           1        44100

[4030 rows x 9 columns]

In [ ]:
reserve_tb['reserve_datetime'] = \
  pd.to_datetime(reserve_tb['reserve_datetime'], format='%Y-%m-%d %H:%M:%S')

reserve_tb['checkin_datetime'] = \
  pd.to_datetime(reserve_tb['checkin_date'] + reserve_tb['checkin_time'],
                 format='%Y-%m-%d%H:%M:%S')

reserve_tb['reserve_datetime'].dt.year - \
reserve_tb['checkin_datetime'].dt.year

(reserve_tb['reserve_datetime'].dt.year * 12 +
 reserve_tb['reserve_datetime'].dt.month) \
 - (reserve_tb['checkin_datetime'].dt.year * 12 +
    reserve_tb['checkin_datetime'].dt.month)

(reserve_tb['reserve_datetime'] - reserve_tb['checkin_datetime']) \
    .dt.days
#  .astype('timedelta64[D]')


(reserve_tb['reserve_datetime'] - reserve_tb['checkin_datetime']) \
    .dt.total_seconds() / 3600
#  .astype('timedelta64[h]')

(reserve_tb['reserve_datetime'] - reserve_tb['checkin_datetime']) \
    .dt.total_seconds() / 60
#  .astype('timedelta64[m]')

(reserve_tb['reserve_datetime'] - reserve_tb['checkin_datetime']) \
    .dt.total_seconds()
#  .astype('timedelta64[s]')

0      -1716618.0
1       -301805.0
2      -2156203.0
3      -1841990.0
4      -1435163.0
          ...
4025   -1074598.0
4026    -882303.0
4027   -1664895.0
4028   -2052583.0
4029   -2594589.0
Length: 4030, dtype: float64

In [ ]:
import datetime

reserve_tb['reserve_datetime'] = \
  pd.to_datetime(reserve_tb['reserve_datetime'], format='%Y-%m-%d %H:%M:%S')

reserve_tb['reserve_date'] = reserve_tb['reserve_datetime'].dt.date

reserve_tb['reserve_datetime'] + datetime.timedelta(days=1)

reserve_tb['reserve_date'] + datetime.timedelta(days=1)

reserve_tb['reserve_datetime'] + datetime.timedelta(hours=1)

reserve_tb['reserve_datetime'] + datetime.timedelta(minutes=1)

reserve_tb['reserve_datetime'] + datetime.timedelta(seconds=1)

0      2016-03-06 13:09:43
1      2016-07-16 23:39:56
2      2016-09-24 10:03:18
3      2017-03-08 03:20:11
4      2017-09-05 19:50:38
               ...
4025   2017-06-27 23:00:03
4026   2017-09-29 05:24:58
4027   2018-03-14 05:01:46
4028   2016-04-16 15:20:18
4029   2016-06-06 08:16:52
Name: reserve_datetime, Length: 4030, dtype: datetime64[ns]

In [ ]:
reserve_tb['reserve_datetime'] = pd.to_datetime(
  reserve_tb['reserve_datetime'], format='%Y-%m-%d %H:%M:%S'
)

def to_season(month_num):
  season = 'winter'
  if 3 <= month_num <= 5:
    season = 'spring'
  elif 6 <= month_num <= 8:
    season = 'summer'
  elif 9 <= month_num <= 11:
    season = 'autumn'
  
  return season

reserve_tb['reserve_season'] = pd.Categorical(
  reserve_tb['reserve_datetime'].dt.month.apply(to_season),
  categories=['spring', 'summer', 'autumn', 'winter']
)

print(reserve_tb['reserve_season'])

0       spring
1       summer
2       autumn
3       spring
4       autumn
         ...
4025    summer
4026    autumn
4027    spring
4028    spring
4029    summer
Name: reserve_season, Length: 4030, dtype: category
Categories (4, object): ['spring', 'summer', 'autumn', 'winter']

In [ ]:
holiday_mst = load_holiday_mst()

pd.merge(reserve_tb, holiday_mst,
         left_on='checkin_date', right_on='target_day')

      target_day  holidayday_flg  nextday_is_holiday_flg
0     2016-01-01            True                    True
1     2016-01-02            True                    True
2     2016-01-03            True                   False
3     2016-01-04           False                   False
4     2016-01-05           False                   False
...          ...             ...                     ...
1181  2019-03-27           False                   False
1182  2019-03-28           False                   False
1183  2019-03-29           False                    True
1184  2019-03-30            True                    True
1185  2019-03-31            True                   False

[1186 rows x 3 columns]

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price,checkin_datetime,reserve_date,reserve_season,target_day,holidayday_flg,nextday_is_holiday_flg
0,r1,h_75,c_1,2016-03-06 13:09:42,2016-03-26,10:00:00,2016-03-29,4,97200,2016-03-26 10:00:00,2016-03-06,spring,2016-03-26,True,True
1,r2,h_219,c_1,2016-07-16 23:39:55,2016-07-20,11:30:00,2016-07-21,2,20600,2016-07-20 11:30:00,2016-07-16,summer,2016-07-20,False,False
2,r3,h_179,c_1,2016-09-24 10:03:17,2016-10-19,09:00:00,2016-10-22,2,33600,2016-10-19 09:00:00,2016-09-24,autumn,2016-10-19,False,False
3,r4,h_214,c_1,2017-03-08 03:20:10,2017-03-29,11:00:00,2017-03-30,4,194400,2017-03-29 11:00:00,2017-03-08,spring,2017-03-29,False,False
4,r5,h_16,c_1,2017-09-05 19:50:37,2017-09-22,10:30:00,2017-09-23,3,68100,2017-09-22 10:30:00,2017-09-05,autumn,2017-09-22,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4025,r4026,h_129,c_999,2017-06-27 23:00:02,2017-07-10,09:30:00,2017-07-11,2,16000,2017-07-10 09:30:00,2017-06-27,summer,2017-07-10,False,False
4026,r4027,h_97,c_999,2017-09-29 05:24:57,2017-10-09,10:30:00,2017-10-10,2,41800,2017-10-09 10:30:00,2017-09-29,autumn,2017-10-09,True,False
4027,r4028,h_27,c_999,2018-03-14 05:01:45,2018-04-02,11:30:00,2018-04-04,2,74800,2018-04-02 11:30:00,2018-03-14,spring,2018-04-02,False,False
4028,r4029,h_48,c_1000,2016-04-16 15:20:17,2016-05-10,09:30:00,2016-05-13,4,540000,2016-05-10 09:30:00,2016-04-16,spring,2016-05-10,False,False
4029,r4030,h_117,c_1000,2016-06-06 08:16:51,2016-07-06,09:00:00,2016-07-09,1,44100,2016-07-06 09:00:00,2016-06-06,summer,2016-07-06,False,False